{% extends "page.html" %}

{% block title -%}
<h3>Wiki editor</h3>
{%- endblock title %}

{% block actions %}
    <div class="btn-group">

        {% if extra_actions %}
        {% for action, url in extra_actions %}
            <a id="btn-attachments" href="{{ url }}" class="btn btn-small" data-toggle="modal">{{ action }}</a>
        {% endfor %}
        {% endif %}

        <button class="btn btn-small" href="#howto" data-toggle="modal"><i class="icon-question-sign"></i> How to</button>
    </div>
{% endblock %}


{% block content %}

<div class="row">
<div class="span10">
<div class="tabbable tabs-left">
<ul class="nav nav-tabs">
	<li class="active"><a href="#editor" data-toggle="tab">Editor</a></li>
	<li><a href="#preview" data-toggle="tab" id="previewlink">Preview</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="editor">

        <form method="post" class="form">
			{{ form.hidden_tag() }}
			{{ input(form.title, placeholder="Title", class="span8") }}


			{{ input(form.body, placeholder=markup.NAME|capitalize,
                     class="span8", rows="15") }}

            <div class="row">
                <div class="span4">
            {{ input(form.message, placeholder="Changes summary (optional)", class="span4") }}
</div>
                <div class="span4">{{ input(form.tags, placeholder="Tags (comma separated)", class="span4") }}
            </div></div>

<div class="row">
    <div class="span8">
            <div class="form-actions">
        <div class="pull-left">
          <a class="btn" href="#preview" id="previewbtn">Preview</a>
        </div>
				<div class="pull-right">
          <a class="btn" href="{{ url_for('display', url=page.url) }}">Cancel</a>
					<button class="btn btn-success" type="submit">Save</button>
				</div>
			</div>
</div></div>

		</form>
	</div>
	<div class="tab-pane" id="preview"></div>
</div>
</div>

</div>



<div id="howto" class="modal hide fade" aria-hidden="true">
    <div class="modal-header">
      <h3>Editor How-To</h3>
    </div>
    <div class="modal-body">
        {{ markup.howto()|safe }}
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-success" data-dismiss="modal" aria-hidden="true">Ok, got it</a>
    </div>
</div>


 <div id="attachments" class="modal hide fade" aria-hidden="true">
    <div class="modal-header">
      <h3>Attachments</h3>
    </div>
    <div id="attachments-body" class="modal-body">

    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
  </div>



{% endblock content %}


{% block postscripts -%}
{{ super() }}
$('#previewlink').on('click', function() {
	var $form = $('.form');
  var $inputs = $form.find('input, textarea, button');
  var $pre = $('#preview');
  var bodycontent = {{ markup.render_meta('title', 'preview')|tojson|safe }} + "\n\n" + $form.find('textarea').val();
  $inputs.prop('disabled', true);
  $pre.removeClass('alert').removeClass('alert-error').html("Loading...");
  $.ajax({
    url: "/preview/",
    type: "POST",
    data: { body: bodycontent },
    success: function(msg) {
      $pre.html(msg);
      bootstrap_rst();
    },
    error: function() {
			$pre.addClass('alert').addClass('alert-error');
      $pre.html('There was a problem with the preview.');
    },
    complete: function() {
      $inputs.prop('disabled', false);
    }
  });
});
$('#previewbtn').on('click', function(event) {
	event.preventDefault();
	$('#previewlink').click();
});


    $('#btn-attachments').click(function(e) {
        e.preventDefault();
        var url = $(this).attr('href');
        $.get(url, function(data){
                $('#attachments-body').html(data);
                $('#attachments').modal('show');
        });
    });

{%- endblock postscripts %}