{% extends "page.html" %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}
<table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Author</th>
                  <th>Date</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
            {% for version in history %}
                <tr>
                  <td><input type="checkbox" value="{{ version.commit }}" ></td>
                  <td>{{ version.author }}</td>
                  <td>{{ version.date_relative }}</td>
                  <td>{{ version.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


{% endblock %}
