{% extends "page.html" %}

{% block container %}
<div class="row">
<div class="span10 offset1">

    <div class="page-header">

        <div class="pull-right">
        {% block page_tools %}
            <a href="/{{ page.url }}" class="btn btn-small"><i class="icon-arrow-left"></i>Back to page</a>

            <a href="{{ url_for('edit', url=page.url) }}" class="btn btn-small">Edit</a>
        {% endblock page_tools %}
        </div>
        {% block title %}
            <h3 id="top">History of {{ page.title }}</h3>
        {% endblock title %}
    </div>


{% block content %}

<form method="post">
<div class="control-group">
    <button type="submit" class="btn btn-small disabled" disabled="disabled">Compare revisions</button>
</div>

<table class="table table-striped">
        <tbody>
            {% for version in history %}
                <tr>
                  <td><input name="commit" type="checkbox" value="{{ version.commit }}" ></td>
                  <td>{{ version.commit }}</td>
                  <td>{{ version.author }}</td>
                  <td>{{ version.date_relative }}</td>
                  <td>{{ version.message }}</td>
                  <td>
                    <div class="progress">
                        <div class="bar bar-success" style="width: {{ (version.insertion / max_changes) * 100 }}%;"></div>
                        <div class="bar bar-danger" style="width: {{ (version.deletion / max_changes) * 100 }}%;"></div>
                    </div>
                   </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
{% if history|count() > 10 %}

<div class="control-group">
    <button type="submit" class="btn btn-small disabled" disabled="disabled">Compare revisions</button>
    <a class="btn btn-small" href="#top"><i class="icon-chevron-up"></i>Back to top</a>
</div>
{% endif %}
</form>
</div>
</div>
{% endblock content %}


{% endblock container %}


{% block postscripts %}
var $commits = $("input:checkbox[name=commit]");
$commits.on("change", function() {
    if($commits.filter(":checked").length >= 2) {
        $('button[type="submit"]').removeAttr("disabled").removeClass('disabled');
        $commits.not(":checked").attr("disabled","disabled").addClass("disabled");
    }
    else {
        $('button[type="submit"]').attr("disabled","disabled").addClass("disabled");
        $commits.removeAttr("disabled").removeClass('disabled');

    }
});
{% endblock postscripts %}