{% extends "base.html" %}

{% block title %}
	{{ page.title }}
{% endblock title %}

{% block content %}
  <div id="confirmDelete" class="modal hide fade" aria-hidden="true">
    <div class="modal-header">
      <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete {{ page.title }}?  This cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
      <a href="{{ url_for('delete', url=page.url) }}" class="btn btn-danger">Yes, delete.</a>
    </div>
  </div>
	{{ page }}
 {% if page.footer %}
   <div id="footer">
   <hr>
   <div class="pull-right"><em><small>{{ page.footer }}</small></em></div>
</div>
 {% endif %}
{% endblock content %}

{% block sidebar %}
{% if page.tags %}
<h3>Tags</h3>
  <ul>
      {% for tag in page.tags.split(',') %}
        <li><a href="{{ url_for('tag', name=tag.strip()) }}">{{ tag|trim }}</a></li>
      {% endfor %}
  </ul>
{% endif %}
<h3>Actions</h3>
<ul class="nav nav-tabs nav-stacked">
	<li><a href="{{ url_for('edit', url=page.url) }}">Edit</a></li>
  <li><a href="{{ url_for('move', url=page.url) }}">Move</a></li>
  <li><a href="#confirmDelete" data-toggle="modal" class="text-error">Delete</a></li>
</ul>
{% endblock sidebar %}

{% block extra_scripts -%}
    <!-- Taken from http://neil.fraser.name/news/2006/03/19/ //-->
    <script src="/static/diff_match_patch.js"></script>
{% endblock extra_scripts -%}
{% block postscripts -%}

function launch() {
  var dmp = new diff_match_patch();
  var new_content = {{ page.new_content|tojson|safe }};
  var old_content = {{ page.old_content|tojson|safe }};
  var d = dmp.diff_main(old_content, new_content);
  dmp.diff_cleanupSemantic(d);
  var ds = dmp.diff_prettyHtml(d);
  $('#footer').append(ds);;
}
launch();
{% endblock postscripts -%}
