{#
This is a bit hacky in order to give support IE 7-9 lack of FormData support.

The template is used both as an ajax request and directly in a popup window.
When is requested by ajax, it shows the list of attached files at the top.

Also, it checks if the browser is not capable
to upload files via ajax and replace the inline form with a link
that reload the same view but in a popup window. The popup show the same view, but as won't be ajax, it'll only show the form.
#}

{% if request.is_xhr %}
    {# show list only if it is ajax #}

    {% if files %}

    <table class="table table-stripped">
        <tbody>
           {% for file in files %}
            <tr>
                <td><a href="{{ url_for('uploads.get_file', url=page.url, filename=file) }}"> {{ file }}</a></td>
                <td style="width: 30px">
                    <a title="Insert" class="insert" data-file="{{ file }}" href="{{ url_for('uploads.get_file', url=page.url, filename=file) }}"><i class="icon-download"></i></a>
                    <a title="Delete" class="remove" data-file="{{ file }}" href="{{ url_for('uploads.remove_file', url=page.url, filename=file) }}"><i class="icon-remove"></i></a>
                </td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
    {% else %}
      There is no attached files yet
    {% endif %}


{% else %}
    {# not ajax: just the form, but including css and js #}
    <!DOCTYPE html>
    <html>
    <head>
    {% include "snippets/base_head.html" %}
    </head>
    <body>
{% endif %}

{% include "snippets/flash_messages.html" %}
<h3>Upload a new file</h3>

    <div id="upload_popup" class="hide">
        <a href="{{ url_for('uploads.upload', url=page.url) }}" class="btn btn-success special" >upload</a>
    </div>

    <div id="ajax_form">
        <div class="progress progress-striped active hide">
            <div id="progress-bar" class="bar" style="width: 0%;"></div>
        </div>

        <form id='form-attach' method="POST" enctype="multipart/form-data" data-async data-target="#attachments-body" action="{{ url_for('uploads.upload', url=page.url) }}">
            <input type="file" name="attach">
            <input type="submit" class="btn btn-success special" value="upload" >
        </form>
    </div>

{% if not request.is_xhr %}
    {% include "snippets/base_footer_scripts.html" %}
    </body></html>
{% endif %}

<script type="text/javascript">
    if (FormData === undefined) {

        $("#ajax_form").hide();
        $("#upload_popup").show();
        $("#upload_popup a").click( function(event){
             event.preventDefault();
             var height=200,
                 width=400,
                 left=Math.round((screen.width/2)-(width/2)),
                 top=0;
              if(screen.height>height) {
                 top=Math.round((screen.height/2)-(height/2))
              }
             $('#attachments').modal('hide');
             window.open($(this).attr('href'), 'Upload',
                         'left='+left+',top='+top+',width='+width+',height='+height);
        });
    }else{
        $('#form-attach').on('submit', function(event) {
            event.preventDefault();
            var $form = $(this);
            var $form_data = new FormData($form[0]);
            var $target = $($form.attr('data-target'));
            $('div.progress').show();
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                xhr: function() {  // custom xhr
                        var myXhr = $.ajaxSettings.xhr();
                        if(myXhr.upload){ // check if upload property exists
                            myXhr.upload.addEventListener('progress', progressHandlingFunction, false); // for handling the progress of the upload
                        }
                        return myXhr;
                    },
                enctype: $form.attr('enctype'),
                data: $form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data, status) {
                    $target.html(data);
                }
            });
        });
        function progressHandlingFunction(e){
            if(e.lengthComputable){
                var percent = (e.loaded / e.total) * 100
                console.log(percent + '%');
                $('#progress-bar').css("width", percent + "%");
            }
        }

    }
    $('.insert').on('click', function(event){
        event.preventDefault();

        var $link = $(this);
        $('#attachments').modal('hide');

        var cursorPos = $('#body').prop('selectionStart');
        var v = $('#body').val();
        var textBefore = v.substring(0,  cursorPos );
        var textAfter  = v.substring( cursorPos, v.length );

        var isImg = new RegExp('(jpg|png|gif)$', 'i');

        if ( isImg.test($(this).attr('data-file')) ) {
            // insert as an embeded image

            var insert = {{ markup.IMAGE_LINE|tojson|safe }}

            // ensure good spacing
            while (textBefore.substr(textBefore.length - 2, 2) !== '\n\n'){
                textBefore += '\n';
            }
            while (textAfter.substr(0, 2) !== '\n\n'){
                textAfter = '\n' + textAfter;
            }
        } else {
            // insert as an inline link
            var insert = {{ markup.LINK_LINE|tojson|safe }}
            if (textBefore.substr(textBefore.length - 1, 1) !== ' '){
                 textBefore += ' ';
            }
            if (textAfter.substr(0, 1) !== ' '){
                textAfter = ' ' + textAfter;
            }
        }
        insert = insert.replace('%(filename)s', $link.attr('data-file'));
        insert = insert.replace('%(url)s', $link.attr('href'));
        $('#body').val( textBefore + insert + textAfter );
    });


    $('.remove').on('click', function(event){
        var $link = $(this);
        event.preventDefault();
        bootbox.dialog("Are you sure you want to delete " + $(this).attr('data-file'),
                   [{"label": "Cancel"},
                    {"label": "Yes, delete it",
                     "callback": function(){
                            $.post($link.attr('href'), function(data){
                                console.log(data);
                                if (data.removed){
                                    $link.parents('tr').fadeOut(1000);
                                }
                            });
                        },
                    "class":"btn-danger"}]);

    });

</script>

