
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pygments.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wiki.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/theme') }}/{{ config.EDITOR_THEME }}.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome-4.0.3/css/font-awesome.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='codemirror/addon/display/placeholder.css')}}">
