{% from "helpers.html" import input %}
<!DOCTYPE html>
<html>
    <head>
        {% include "snippets/base_head.html" %}

        {% if config.BOOTSWATCH_THEME %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootswatch/2.3.2/{{config.BOOTSWATCH_THEME}}/bootstrap.min.css">
        {% endif %}

        {% if config.CUSTOM_CSS %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('custom_static', filename=config.CUSTOM_CSS) }}">
        {% endif %}

        {% block extra_head %}
        {% endblock extra_head %}
        <title>{% if page %} {{ page.title }} - {% endif %}{{ config.TITLE }} </title>

        {% if config.FAVICON %}
        <link rel="shortcut icon" href="{{ url_for('custom_static', filename=config.FAVICON) }}" type="image/png">
        {% endif %}

    </head>

    <body>
        {% block modals %}
        {% endblock modals %}

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <a href="#" class="brand">
                                {% if config.NAV_BAR_ICON %}
                                <img class="navbar-brand-logo" src="{{ url_for('custom_static', filename=config.NAV_BAR_ICON) }}"/>
                                {% endif %}
                                {{ config.TITLE }}
                            </a>
                            <ul class="nav">
                                <li><a href="{{ url_for('home') }}"><i class="icon-home"></i> Home</a></li>
                                <li><a href="{{ url_for('index') }}"><i class="icon-list"></i> Index</a></li>
                                <li><a href="{{ url_for('tags') }}"><i class="icon-tags"></i> Tags</a></li>
                                <li><a href="{{ url_for('search') }}"><i class="icon-search"></i> Search</a></li>
                                {% if user_can_edit() %}
                                <li class="divider-vertical"></li>
                                <li><a href="{{ url_for('create') }}"><i class="icon-file"></i> New Page</a></li>
                                {% endif %}
                                <li></li>
                            </ul>

                            <ul class="nav pull-right">
                                {% if current_user.is_anonymous() %}
                                    <li><a href="{{ url_for('user_login') }}"><i class="icon-road"></i> Login</a></li>
                                    <li><a href="{{ url_for('user_signup') }}"><i class="icon-pencil"></i> Signup</a></li>

                                {% else %}
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-user"></i> {{current_user.get('full_name')}} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="{{ url_for('user_logout') }}"><i class="icon-off"></i> Logout</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
          {% block container %}
            <div class="row">
                <div class="span10 offset1">

                    <div class="page-header">
                    {% block header %}
                       <h1>{% block title %}{{ page.title }}{% endblock title %}</h1>
                    {% endblock header %}
                    </div>

                </div>
            </div>
            <div class="row">
                {% include "snippets/flash_messages.html" %}
                {% block precontent %}
                {% endblock %}
                <div class="span10 offset1">
                    {% if form and form.errors %}
                        <div class="alert alert-error">Errors occured verifying your input. Please check the marked fields below.</div>
                    {% endif %}

               {% block content %}

               {% endblock content %}
                </div>
            </div>
          {% endblock container %}
        </div>
        <div class="row footer">
            {% if config.CUSTOM_FOOTER %}
            <p><small>{{config.CUSTOM_FOOTER|safe}}</small></p>
            {%endif%}
        </div>

        {% include "snippets/base_footer_scripts.html" %}
        {% block extra_scripts %}
        {% endblock extra_scripts %}
        <script type="text/javascript">
            {% block postscripts %}
            {% endblock postscripts %}
        </script>
    </body>
</html>
